<section>
  <div class="container">
    <!-- Ballast Category -->
    <div class="category-section mb-4">
      <div class="category-header">
        <h2>Plumbing</h2>
        <a [routerLink]="['/products', { category: 'plumbing' }]" class="btn  ">Shop All</a>
      </div>
      <div class="row">
        <h2 *ngIf="ballastProducts.length < 1" class="text-center">NO product found</h2>
        <mat-spinner *ngIf="isLoading" class="mx-auto d-block"></mat-spinner>
        <ng-container *ngIf="!isLoading">
          <div class="col-lg-3 col-md-4 col-sm-6 mb-2" *ngFor="let product of ballastProducts.slice(0, 4)"
            (click)="openProductDetail(product)">
            <div class="card product-card">
              <div class="image-container" style="position: relative; width: 100%; height: 0; padding-top: 75%;">
                <img class="card-img-top product-image" [src]="product.image" alt="{{ product.productName }}"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;" />
              </div>
              <div class="card-body">
                <h3 class="product-name card-title">{{ product.productName }}</h3>
                <p class="product-price">KSh: {{ product.price }}</p>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-secondary add-to-cart w-100">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>



    <!-- Tools Category -->
    <div class="category-section">
      <div class="category-header">
        <h2>Building Materials</h2>
        <a [routerLink]="['/products', { category: 'building' }]" class="btn ">Shop All</a>
      </div>
      <div class="row">
        <h2 *ngIf="toolsProducts.length < 1" class="text-center">NO product found</h2>
        <mat-spinner *ngIf="isLoading" class="mx-auto d-block"></mat-spinner>
        <ng-container *ngIf="!isLoading">
          <div class="col-lg-3 col-md-4 col-sm-6 mb-2" *ngFor="let product of toolsProducts.slice(0, 4)"
            (click)="openProductDetail(product)">
            <div class="card product-card">
              <div class="image-container" style="position: relative; width: 100%; height: 0; padding-top: 75%;">
                <img class="card-img-top product-image" [src]="product.image" alt="{{ product.productName }}"
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;" />
              </div>
              <div class="card-body">
                <h3 class="product-name card-title">{{ product.productName }}</h3>
                <p class="product-price">KSh: {{ product.price }}</p>
                <div class="d-flex justify-content-between">
                  <button class="btn btn-secondary add-to-cart w-100">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

    </div>
  </div>
</section>