<div class="container">
  <nav class="nav">
    <nav class="nav_list">
      <div class="nav-item">
        <a routerLink="/landing" [queryParams]="{ category: '' }" [routerLinkActive]="'active'" class="nav-link">
          <span>Home</span>
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="/landing" [queryParams]="{ category: '' }" [routerLinkActive]="'active'" class="nav-link">
          <span>Building Essentials</span>
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="/landing" [queryParams]="{ category: 'Plumbing' }" [routerLinkActive]="'active'"
          class="nav-link">
          <span>Plumbing</span>
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="/landing" [queryParams]="{ category: 'Painting'}" [routerLinkActive]="'active'" class="nav-link">
          <span>Painting</span>
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="/landing" [queryParams]="{ category: 'Tools & Equipment' }" [routerLinkActive]="'active'"
          class="nav-link">
          <span>Tools & Equipments</span>
        </a>
      </div>
      <div class="nav-item">
        <a routerLink="/landing" [queryParams]="{ category: 'Decor' }" [routerLinkActive]="'active'" class="nav-link">
          <span>Decor & Households</span>
        </a>
      </div>
    </nav>
  </nav>
</div>