<footer>
  <div class="footer-container">
    <!-- About Section -->
    <div class="footer-section about">
      <h3>BuildMart</h3>
      <p>

        We are your go-to destination for all essential construction materials. Our online platform is created to
        simplify the ordering process. Instead of searching aimlessly, you can simply click, place your order, and
        unwind. We believe that obtaining the right materials for your project should be a breeze
      </p>
    </div>

    <!-- Useful Links -->
    <div class="footer-section useful-links">
      <h4>
        Menu</h4>
      <ul>
        <li><a href="">Building Essential</a></li>
        <li><a href="">Plumbing</a></li>
        <li><a href="">Painting</a></li>
        <li><a href="">Tools</a></li>
      </ul>
    </div>

    <!-- Contact Section -->
    <div class="footer-section contact">
      <h4>Contact Details</h4>
      <p>
        <a href="mailto:info@constructionmaterials.co.ke">info&#64;BuildMart.co.ke</a><br>
        +254 724 345407 / +254 716 076124
      </p>
      <div class="social-links">
        <a href="https://facebook.com"><i class="ri-facebook-circle-fill"></i></a>
        <a href="https://twitter.com"><i class="ri-twitter-x-line"></i></a>
        <a href="https://instagram.com"><i class="ri-instagram-fill"></i></a>
        <a href="https://tiktok.com"><i class="ri-tiktok-fill"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    © 2024 BuildMart. All rights reserved.
  </div>
</footer>